.remove_scrolling_bar {
    display: inline-block;
    vertical-align: top;
    overflow: hidden;
    border: solid grey 1px;
    }

    .remove_scrolling_bar select {
    padding: 10px;
    margin: -5px -20px -5px -5px;
    }